<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Introduction | <%= title %> </title>
    <link rel="stylesheet" href="/styles.css"> <!--note, that the path is not relative to this file. 
    That's because it's already going from the folder, 
    that is setted in app.js file as express.static("static_files")-->
</head>